<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Info: <%= info%></p>
<p>Latitude: <%= lat%> Longitude: <%= lon%></p>
<p>First hour: <%= first %>F</p>
<p>Second hour: <%= second %>F</p>
<p>Third hour: <%= third %>F</p>
</body>
</html>
